{% extends 'base.html' %}

{% block title %}Hasło zostało zmienione{% endblock %}

{% block content %}
<div class="section">
  <span class="title">
    Hasło zostało zmienione
  </span>
  <br>
  <span>
    Możesz się już <a href="{% url 'login' %}">zalogować</a>.
  </span>
</div>
{% endblock %}