{% extends 'base.html' %}

{% block title %}Email wysłany{% endblock %}

{% block content %}
<div class="section">
  <span class="title">Sprawdź swoją skrzynkę pocztową.</span>
  <p>
    Wiadomość z linkiem do zmiany hasła została wysłana na podany email. W razie jej braku, prosimy o sprawdzenie spamu.
  </p>
</div>
{% endblock %}