{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}Zmiana hasła{% endblock %}

{% block content %}
<div class="section">
  <div class="is-flex is-flex-direction-column">
    <span class="title has-text-centered my-2">
      Wpisz adres email podany w trakcie rejestracji.
      Dostarczona zostanie na niego wiadomość zawierająca link umożliwiający zmianę hasła
    </span>
    <form method="POST" class="is-flex is-flex-direction-column">
      {% csrf_token %}
      {{ form | crispy }}
      <input type="submit" class="button is-success mx-auto" value="Wyślij wiadomość">
    </form>
  </div>
</div>
{% endblock %}