{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}Wpisz nowe hasło{% endblock %}

{% block content %}
<div class="section">
  <div class="is-flex is-flex-direction-column">
    <span class="title mx-auto">
      Wpisz nowe hasło
    </span>
    <form method="POST" class="is-flex is-flex-direction-column">
      {% csrf_token %}
      {{ form | crispy }}
      <input class="button is-success mx-auto" type="submit" value="Zmień hasło">
    </form>
  </div>
</div>
{% endblock %}