{% extends 'user/tabs.html' %}
{% load crispy_forms_filters %}

{% block title %}Puchar Dyrektora - zgłoś uczniów{% endblock %}

{% block tab %}
<form class="is-flex is-flex-direction-column" method="POST">
  <div class="my-6 has-text-centered is-flex is-flex-direction-column">
    <span class="title">Zaktualizuj konto</span>
    <span class="subtitle">
      W celu zmiany adresu e-mail lub numeru telefonu przypisanego do konta prosimy
      o kontakt pod danym adresem e-mail: <b>puchar@lo5.bielsko.pl</b>
    </span>
  </div>
  {% csrf_token %}
  {{ form | crispy }}
  <div class="buttons mx-auto my-3">
    <button class="button is-info" type="submit">Zaktualizuj</button>
    <a class="button is-link" href="{% url 'password_change' %}" target="_blank" rel="noopener noreferrer">Zmień hasło</a>
  </div>
</form>
{% endblock %}
