{% extends 'user/tabs.html' %}
{% load crispy_forms_filters %}

{% block title %}Puchar Dyrektora - zgłoś uczniów{% endblock %}

{% block tab %}
{% if students %}
<div class="hero has-text-centered">
  <span class="title my-6">Zgłoszeni uczniowie</span>
  <table class="hero-body table is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Identyfikator</th>
        <th>Uczeń</th>
        <th>Klasa</th>
        {% if ongoing.scores_available %}
        <th>Zajęte miejsce</th>
        <th>Wynik z finału</th>
        <th>Wynik z eliminacji</th>
        {% else %}
        {% if ongoing.scores_eliminations %}
        <th>Liczba punktów zdobytych podczas eliminacji</th>
        {% if ongoing.entry_threshold >= 0 %}
        <th>Wynik eliminacji</th>
        {% endif %}
        {% endif %}
        {% endif %}
      </tr>
    </thead>
    {% for student in students %}
    <tbody>
      <tr>
        <th>{{ student.identifier }}</th>
        <td>{{ student.name }} {{ student.surname }}</td>
        <td>{{ student.grade }}</td>
        {% if ongoing.scores_available %}
        <th>{{ student.ranking }}</td>
        <td>{{ student.score_second }}</td>
        <td>{{ student.score_first }}</td>
        {% else %}
        {% if ongoing.scores_eliminations %}
        <td>
          {{ student.score_first | default:"-" }}
        </td>
        {% if ongoing.entry_threshold > 0 %}
        <td>
          {% if student.score_first >= ongoing.entry_threshold %}
          <b>Uczeń zakwalifikowany do finału</b>
          {% else %}
          Uczeń niezakwalifikowany do finału
          {% endif %}
        </td>
        {% endif %}
        {% endif %}
        {% endif %}
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
{% else %}
<div class="hero has-text-centered">
  <span class="title mt-6">Żaden uczeń nie został zgłoszony</span>
</div>
{% endif %}
{% endblock %}
