{% extends 'base.html' %}

{% block title %}Puchar Dyrektora - zgłoś uczniów{% endblock %}

{% block content %}

<div class="tabs mb-0 is-centered is-boxed">
  <ul>
    <li class="{{ account_tab }}">
      <a href="{% url 'account' %}">Konto</a>
    </li>
    {% if ongoing %}
      <li class="{{ submission_tab }}">
        <a href="{% url 'submission' %}">Zgłoszenie</a>
      </li>
    {% else %}
      <li>
        <a class="has-text-danger">Zgłoszenie niedostępne</a>
      </li>
    {% endif %}
  </ul>
</div>
<div class="is-centered">
  {% block tab %}{% endblock %}  
</div>


{% endblock %}