{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}Logowanie{% endblock %}

{% block content %}
  <div class="section is-flex is-flex-direction-column">
    <span class="title mx-auto">Zaloguj się</span>
    <form method="POST" class="is-flex is-flex-direction-column">
      {% csrf_token %}
      {{ form | crispy }}
      <div class="buttons mx-auto">
        <button type="submit" class="button is-success">Zaloguj się</button>
        <a href="{% url 'signup' %}" class="button is-link" role="button" aria-pressed="true">Załóż konto</a>
        <a href="{% url 'password_reset'%}" class="button is-danger" role="button" aria-pressed="true">Zmień hasło</a>
      </div>
    </form>
  </div>
{% endblock %}