{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}Rejestracja{% endblock %}

{% block content %}
  <div class="section is-flex is-flex-direction-column">
    <span class="title mx-auto">Załóż konto</span>
    <form method="POST" class="is-flex is-flex-direction-column">
      {% csrf_token %}
      {{ form | crispy }}
      <div class="buttons mx-auto">
        <button role="button" class="button is-success" type="submit">Załóż konto</button>
        <a href="{% url 'login' %}" class="button is-link" role="button" aria-pressed="true">Zaloguj się</a>
      </div>
    </form>
  </div>
{% endblock %}