<!doctype html> {% load static %}

<html lang="pl" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="Konkurs Matematyczny o Puchar Dyrektora V Liceum Ogólnokształcącego w Bielsku-Białej ">
  <meta name="author" content="Mikołaj Kubiczek">

  <title>{% block title %}Puchar Dyrektora{% endblock %}</title>
  <base href="/">

  <link href="{% static 'bulma/css/bulma.css' %}" rel="stylesheet">
</head>

<body class="container">
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
      if ($navbarBurgers.length > 0) {
        $navbarBurgers.forEach(el => {
          el.addEventListener('click', () => {
            const target = el.dataset.target;
            const $target = document.getElementById(target);
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');
          });
        });
      }
    });
  </script>
  <header class="hero">
    <a class="hero-body is-flex is-flex-direction-column has-text-black" href="{% url 'news' %}">
      <span class="title is-2 mx-auto">Konkurs Matematyczny</span>
      <span class="subtitle is-4 mx-auto">o Puchar Dyrektora V Liceum Ogólnokształcącego w Bielsku-Białej</span>
    </a>
  </header>
  <nav class="navbar" role="navigation" aria-label="menu">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item {{ news_page }}" href="{% url 'news' %}">Aktualności</a>
        <a class="navbar-item {{ aboutcontest_page }}" href="{% url 'aboutcontest' %}">O konkursie</a>
        <a class="navbar-item {{ rules_page }}" href="{% url 'rules' %}">Regulamin</a>
        <a class="navbar-item {{ tests_page }}" href="{% url 'tests' %}">Zadania</a>
        <a class="navbar-item {{ scores_page }}" href="{% url 'scores' %}">Wyniki</a>
        <a class="navbar-item {{ contact_page }} me-auto" href="{% url 'contact' %}">Kontakt</a>
      </div>

      <div class="navbar-end">
        {% if user.is_authenticated %}
          <a class="navbar-item has-text-link" href="{% url 'submission' %}">Zgłoszenie</a>
          {% if user.is_superuser%}
            <a class="navbar-item has-text-link" href="/admin">Panel administracyjny</a>
          {% endif %}
          <a class="navbar-item has-text-danger" href="{% url 'logout' %}">Wyloguj się</a>
        {% else %}
          <a class="navbar-item {{ login_page }}" href="{% url 'login' %}">Logowanie</a>
        {% endif %}
      </div>
    </div>
  </nav>
  <main class="section">
    {% block content %}{% endblock %}
  </main>
  <footer class="footer has-text-centered" style="background-color: transparent !important;">
    <span class="has-text-weight-light is-italic">
      &copy; 1998-{% now "Y" %}
      V Liceum Ogólnokształcące w Bielsku-Białej & Mikołaj Kubiczek
    </span>
  </footer>
</body>
<style>
  .asterisk {
    display: none;
  }
</style>

</html>