{% extends 'base.html' %}

{% block title %}Puchar Dyrektora - kontakt{% endblock %}

{% block content %}
<div class="has-text-centered my-5">
  <span class="title is-4">
    W razie jakichkolwiek pytań, wątpiwości lub problemów prosimy o kontakt mailowy: <b>puchar@lo5.bielsko.pl</b>
  </span>
</div>
{% endblock %}
