{% extends 'base.html' %}

{% block title %}Puchar Dyrektora{% endblock %}

{% load static %}

{% block content %}
<div class="columns">
    <div class="column is-10 has-text-justified">
      <h6>Pierwsza edycja Konkursu Matematycznego o Puchar Dyrektora V Liceum Ogólnokształcącego została zorganizowana w roku szkolnym 1998/1999.</h6>
      <h6>
        Konkurs — organizowany w formie dwustopniowych zawodów — adresowany jest do zainteresowanych matematyką uczniów szkół podstawowych.
        <br><br>
        W konkursie może wziąć udział drużyna każdej szkoły podstawowej lecz sukces należy do najlepszych.
        <br><br>
        Po ponad dwudziestu latach trwania konkursu z dużą satysfakcją stwierdzamy, że cieszy się on w dalszym ciągu niesłabnącym zainteresowaniem i prestiżem. Bo jak wytłumaczyć fakt, że kolejne roczniki uczniów biorą w nim udział chociaż jedyną zachętą jest wyróżnienie lub tytuł laureata?
        <br><br>
        Celem konkursu jest popularyzacja wiedzy matematycznej, rozwijanie uzdolnień i zainteresowań matematycznych uczniów, ujawnianie młodych talentów oraz stworzenie możliwości sprawdzenia własnego poziomu wiedzy i umiejętności w rywalizacji z innymi uczniami w dziedzinie matematyki. Konkurs ma również na celu promocję szkół, nauczycieli i uczniów biorących w nim udział.
        <br><br>
        Serdecznie dziękuję wszystkim, bez których konkurs ten nie mógłby się odbywać. W szczególności nauczycielom i ich uczniom ze szkół podstawowych
        <br><br>
        W roku szkolnym 2020/2021 zapraszamy uczniów szkół podstawowych oraz oddziałów gimnazjalnych do wzięcia udziału w XXIII edycji tego konkursu.
        <br><br>
        <em>
          Dyrektor
          <br>
          V Liceum Ogólnokształcącego
          <br>
          w Bielsku-Białej
        </em>
      </h6>
    </div>
    <div class="column has-text-centered">
        <img alt="Puchar Dyrektora" src="{% static 'puchar.png' %}" class="image my-3">
        <a href="https://stowarzyszenie.lo5.bielsko.pl/" target="_blank" rel="noreferrer noopener">
          <img alt="" src="{% static 'stowarzyszenie.png' %}" class="image my-3">
        </a>
    </div>
</div>
{% endblock %}
