{% extends 'base.html' %}

{% block title %}Puchar Dyrektora - aktualności{% endblock %}

{% block content %}
  {% for announcement in announcements %}
    <article class="message is-dark">
      <div class="message-header is-flex">
        <h5 class="has-text-weight-bold">{{ announcement.title }}</h5>
        <h5 class="has-text-gray-light">{{ announcement.created_at | date:"j E Y" }}, {{ announcement.created_at | time:"G:i" }}</h5>
      </div>
      <div class="message-body content">
        {{ announcement.content | safe }}
      </div>
    </article>
  {% endfor %}
{% endblock %}
