{% extends 'base.html' %}

{% block title %}Puchar Dyrektora - regulamin{% endblock %}

{% block content %}
<div class="content">
  <div class="has-text-centered">
    <h2 class="has-text-weight-bold">
      Regulamin Konkursu Matematycznego
    </h2>
    <h5>
      o Puchar Dyrektora V LO w Bielsku-Białej
    </h5>
  </div>
  <br>
  <ol>
    <li>Organizatorem konkursu jest V Liceum Ogólnokształcące w Bielsku-Białej.</li>
    <li>W konkursie mogą uczestniczyć uczniowie szkół podstawowych.</li>
    <li>Każda szkoła może zgłosić jedną drużynę trzyosobową, z wyjątkiem sytuacji opisanej w punkcie 9. W sytuacji, gdy szkoła nie jest w stanie wystawić drużyny trzyosobowej, może zgłosić jednego lub dwóch uczniów.</li>
    <li>
      Konkurs składa się z eliminacji i finału.<br>
      W eliminacjach każdy uczeń rozwiązuje test wielokrotnego wyboru (spośród podanych 4 odpowiedzi, co najmniej jedna jest poprawna). Za poprawną odpowiedź uczeń otrzymuje 3 punkty, za brak odpowiedzi 0 punktów, za złą odpowiedź zostaje mu odjęty 1 punkt.<br>
      <strong>Uwaga:</strong> Jeżeli w zadaniu zostaną podane cztery odpowiedzi NIE albo trzy odpowiedzi NIE i jednocześnie nie zostanie udzielona odpowiedź TAK, za to zadanie zostanie przyznane minus 12 punktów.<br>
      Wynik drużyny w eliminacjach jest sumą punktów zdobytych przez członków tej drużyny.<br>
      Do finału kwalifikowanych jest nie więcej niż 50 najlepszych uczniów w klasyfikacji indywidualnej zawodów eliminacyjnych.<br>
      W finale uczestnicy rozwiązują po 4 zadania; za każde zadanie można uzyskać maksymalnie 5 punktów.<br>
      Wynik drużyny w finale jest sumą punktów zdobytych przez członków drużyny biorących udział w zawodach finałowych.
    </li>
    <li>Wynik drużyny w konkursie jest iloczynem liczby punktów zdobytych w eliminacjach i w finale.</li>
    <li>Dla finalistów klasyfikacja indywidualna prowadzona jest według tych samych zasad.</li>
    <li>Dla najlepszych uczniów w klasyfikacji indywidualnej przyznawane będą tytuły laureata i finalisty z wyróżnieniem. Listę laureatów i finalistów z wyróżnieniem ustala organizator konkursu po ocenie prac zawodów finałowych i ustaleniu ostatecznych wyników konkursu.</li>
    <li>Drużyna, która zdobyła pierwsze miejsce, otrzymuje Puchar Dyrektora V LO w Bielsku-Białej.</li>
    <li>Szkoła, której drużyna zdobyła Puchar Dyrektora V LO w Bielsku-Białej, ma prawo w następnym roku szkolnym zgłosić dwie drużyny.</li>
    <li>Puchar jest przechodni. Szkoła, której drużyna zdobyła puchar pięciokrotnie lub trzykrotnie z rzędu, otrzymuje puchar na własność.</li>
    <li>Dla laureatów, finalistów z wyróżnieniem oraz dla trzech pierwszych drużyn organizator przewiduje upominki rzeczowe.</li>
    <li>Zgłoszenia drużyn przyjmowane są do końca października danego roku szkolnego za pomocą formularza dostępnego na stronie internetowej konkursu.</li>
    <li>Eliminacje odbywają się najwcześniej w trzeci czwartek listopada danego roku szkolnego. Finał odbywa się po Nowym Roku w terminie podanym przez organizatora.</li>
    <li>Sytuacje nie przewidziane regulaminem rozstrzyga organizator konkursu.</li>
  </ol>
</div>
{% endblock %}
